@media (min-width: 1200px) {
  .container {
    max-width: 90vw;
  }
}

.main-slide {
  width: 100%;
  height: 75vh;
  background: url('./assets/images/background.png') no-repeat;
  background-size: cover;
  background-position: 0px -700px;
}

.main-slide::before {
  position: absolute;
  top: 0;
  opacity: 0.7;
  content: '';
  background: linear-gradient(36deg, #ea8554 0%, #ea5457 37.65%, #4eccc0 100%);
  width: 100%;
  height: 75vh;
}

.main-slide::after {
  position: absolute;
  content: '';
  z-index: 2;
  top: calc(75vh - 100px);
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 100vw solid #eff3f7;
}

.navbar {
  z-index: 1;
}

.nav-link {
  color: #fff !important;
  font-size: 16px;
}

.main-title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 7vw;
  font-weight: bold;
  margin-top: 20vh;
}

.sub-title {
  position: relative;
  margin-top: 15vh;
  z-index: 1;
  color: #fff;
}

.sub-title1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px
}

.sub-title2 {
  font-size: 14px;
}

@media (min-width: 576px) {
  .sub-title1 {
    font-size: 3vw;
  }

  .sub-title2 {
    font-size: 2.4vw;
  }
}

@media (min-width: 768px) {
  .main-title {
    font-size: 4.5vw;
  }

  .sub-title1 {
    font-size: 2.3vw;
  }

  .sub-title2 {
    font-size: 1.8vw;
  }
}

@media (min-width: 1200px) {
  .main-title {
    font-size: 60px
  }

  .sub-title1 {
    font-size: 30px
  }

  .sub-title2 {
    font-size: 18px
  }
}

.second-slide {
  width: 100%;
  background-color: #eff3f7;
  padding: 0 15vw;
}

.step {
  display: flex;
  justify-content: center
}

.step-number {
  font-size: 220px;
  color: #60b5ad;
  opacity: 0.3;
  font-weight: bold;
  line-height: 220px;
}

.step-text {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18vw;
}

.step-title {
  font-weight: bold;
  font-size: 18px;
}

.step-subtitle {
  font-size: 14px
}

.step-photo {
  margin-left: 8vw;
  height: 288px;
  width: 288px;
  background-color: white;
  border-radius: 50%;
}